/* Global styles */
*{
    color:white;
}

/* Navbar section */
.container{
    padding: 0 20px 60px 100px;
    margin:0;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.navbar, .header-link, .header-logo{
    display:flex;
    flex-direction: row;
    padding:10px 5px 0 5px;
}

.header-logo{
    flex:2;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.header-link{
    flex:0.3;
    text-align:right;
    font-size: 20px;
}

/* Hero Section */
.hero-section{
    display:flex;
    padding: 40px 54px 40px 10px;
}

#hero-image img{
    width:550px;
    height:300px;
}

#logo{
    color:white;
    font-size:48px;
}

.hero-logo{
    padding-right:10px;
}

button{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    background-color:#3882F6;
    padding: 5px 25px 5px 25px;
    border-radius: 8px;
    border:0;
}

/* Body Section */

.latte img,
.cuppaccino img,
.black img{
    width:250px;
    height:200px;
    border-radius: 10px;
}

.collection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 2px 0 20px 0;
}

.latte p,
.cuppaccino p,
.black p{
    color:#1F2937;
    text-align:center;
    font-weight: bold;
}

#hero-subtext{
    color:#1F2937;
    text-align:center;
    font-size: 32px;
    padding: 5px 0 15px 0;
}

.body-section{
    font-family: 'Roboto', sans-serif;
}

/* Qoute Section */
.quote-section{
    background-color: #E5E7EB;
    padding: 30px 50px;
}

#quote-text{
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding: 60px 0;
}

#quote-text #author{
    color:#1F2937;
    font-weight: bold;
    padding-left: 850px;
}

/* Footer section*/
footer{
    background-color: #1F2937;
    padding:20px;
}

footer p{
    text-align: center;
}